.section {
  display: block;
  justify-content: center;
  padding: 30px;
  margin: 0 auto;
  max-width: 1200px;
  background-color: bisque;
  width: 600px;
}

.form {
  background-color: #eeddff;
  border: 6px solid #7922cc;
  border-radius: 25px;
  padding: 20px;
}
.label {
  display: block;
  font-size: 30px;
  font-weight: 600;
  background-image: linear-gradient(to left, #010003, #b393d3);
  color: black;
  background-clip: text;
  margin-bottom: 20px;
}
.input {
  display: block;
  border-radius: 5px;
  padding: 10px;
  width: 250px;
  margin-top: 20px;
}

.btnAdd {
  display: block;
  box-sizing: border-box;
  padding: 0 25px;
  margin: 20px 15px 15px 0;
  outline: none;
  border: 1px solid #fff;
  border-radius: 50px;
  height: 46px;
  line-height: 46px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #444;
  background-color: #fff;
  box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
  cursor: pointer;
}
